*:before
{
  margin: 0px;
  padding : 0px;
}

*:after
{
  margin: 0px;
  padding : 0px;
  box-sizing: content-box;
}

*, ::after, ::before {
    box-sizing: content-box !important;
}
.flip {background-image:url(s2.jpg);}
.lip {background-color:rgba(0,0,0,0.6);}
.no-margin {margin: 0;}
.no-padding {padding: 0;}
header {position:fixed; top:0; left:0; right:0; width:100%; background-color:rgba(0,0,0,0.6); height:100px; z-index:9999;}
header.scrolled {box-shadow:blue 0px 0px 20px 0px;}
header nav {clear:both; display: block; line-height: 70px; height:70px; position:relative;}
.menu-container {background-color:transparent; padding-left:30px; padding-right:30px;}
.grt-menu-row {display: flex; flex-direction: row; justify-content: space-between;}
a.grt-logo {display:inline-block;}
a.grt-logo img {max-height: 60px; width: auto;}
.grt-mobile-button {display:none; color:white;}
.grt-mobile-button:focus {border:0; outline:0;}
.body-overflow {overflow:hidden;}
ul.grt-menu {display: block; float:right; margin:0 -10px 0 0; padding:0; list-style-type: none; color:white;}
ul.grt-menu:after {content:""; clear:both; display:block;}
ul.grt-menu li {display: inline-block; margin:0; padding:0; -webkit-transition: all ease 0.8s; -moz-transition: all ease 0.8s; transition: all ease 0.8s;}
ul.grt-menu li a {padding: 5px 12px; font-size:16px; display: inline-block; color:#000; line-height: 1.1em; box-shadow: inset 0 0 0 0 #FFF; -webkit-transition: all ease 0.8s; -moz-transition: all ease 0.8s; transition: all ease 0.8s; position:relative; text-decoration: none; text-transform: uppercase;}
ul.grt-menu li.active a:after  {position: absolute;bottom: 1px;content: "";left: 12px; right: 12px; border-bottom: 2px solid #ee2b34;}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
ul.grt-menu li.grt-dropdown:hover {
  cursor:pointer;
}
ul.grt-menu li.grt-dropdown:hover a {
  box-shadow: none;
}
ul.grt-menu li.grt-dropdown ul.grt-dropdown-list {
  display:none;
  position:absolute;
  background-color:white;
  margin: 0;
  padding: 0;
  min-width:150px;
  animation: fadeIn 0.8s;
  z-index: 999;
}
ul.grt-menu li.grt-dropdown ul.grt-dropdown-list li a {
  display:flex;
  font-size:18px;
  color: white;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s;
  padding: 9px 12px;
}
ul.grt-menu li.grt-dropdown ul.grt-dropdown-list li:last-child a {
  display:flex;
  flex-direction:column;
  padding-bottom:15px;
}
ul.grt-menu li.grt-dropdown.active-dropdown {
  display:flex;
  flex-direction:column;
  background-color:white;
}
ul.grt-menu li.grt-dropdown.active-dropdown ul.grt-dropdown-list {
  display:block !important;
}
ul.grt-menu li.grt-dropdown.active-dropdown a {
  color:white;
}
.segun{margin-top:20%;}
.ayo{font:georgia;text-transform: uppercase; color:white;}
.tim {color:black; font-size:20px; text-align:center;}
.tom{font-size:50px; color:black;}
.but{background-color:#2a3b8e;; border:none; color:white; padding:15px 32px; text-align:center; text-decoration:none; border-radius:12px; width:250px; margin:20px;}
.bet{border:none; background-color:white; opacity:0.6; padding:15px 32px; text-align:center; text-decoration:none; border-radius:20px; width:700px; margin:10px;}
.bit{border:none; background-color:white; opacity:0.6; padding:15px 32px; text-align:center; text-decoration:none; border-radius:20px; width:700px; height:200px; margin:10px;}
.set{color:#2a3b8e;}
.pit{background-image:url(book.jpeg);}
.pot{background-color:rgba(0,0,0,0.3);}
.put{background-color:#2a3b8e; border:solid 4px; color:white; padding:15px 32px; text-align:center; text-decoration:none; border-radius:12px; width:100px; margin:20px;}
.dec{transition-timing-function: ease-in-out 0.7s;color:#2a3b8e;}
@media (min-width:768px) { .bd-placeholder-img-lg {font-size:3.5rem;}}
.navbarhead {float:right; margin-right:100px; position:absolute;}
.pet {color:black; margin-top:30%;}
.img {width:700px; height:500px;}
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}
.ney {margin-top:10%; margin-left:10%; color:#1f4791; text-align:left; font-size:14px;}
#myBtn:hover {background-color: gray;}
a:link {color:white;}
a:active {color:white;}
a:hover {color:white;}
a:visited {color:white;}
.enic {background-color:#4e4a4a; color:white}
@media (min-width:768px) {
ul.grt-menu li.grt-dropdown:hover > a + ul.grt-dropdown-list {
    display:block;
    top: calc(100% - 17px);
  }
ul.grt-menu li.grt-dropdown ul.grt-dropdown-list li {
    display:block;
  }
ul.grt-menu li.grt-dropdown:hover > a {
    color:#070f3a;
    box-shadow: inset 150px 0 0 0 #ee2b34;
  }
ul.grt-menu li a:hover {
    color:gray;
    box-shadow: inset 150px 0 0 0 #ee2b34;
  }
.ney {margin-top:10%; margin-left:10%; color:#1f4791; text-align:left; font-size:8px;}
}

@media (min-width:768px) and (max-width:991px) {
ul.grt-menu li a {
  background-color:black;
  display:flex; flex-direction:column;
  text-align:center;
  margin:50px;
    font-size:10px;
  }
}

@media (max-width:767px) {
.menu-container {
    padding-left: 15px;
    padding-right: 15px;
  }
.grt-mobile-button {
    display:flex;
    flex-direction:column;
    position:absolute;
    text-align:center;
    top:10px;
    background:white;
    color:white;
    margin:0;
    padding:0;
    cursor:pointer;
    border: 0;
    width:35px;
  }
.grt-mobile-button .line1, .grt-mobile-button .line2, .grt-mobile-button .line3 {
    width: 35px;
    height: 4px;
    color:white;
    background-color:white;
    margin: 6px 0;
    transition: 0.4s;
    display:block;
  }
ul.grt-menu {
   display:flex; 
  flex-direction:column;
    font-size:10px;
        width: 100%;
    margin:0;
  }  
ul.open-grt-menu {
    position: fixed;
    background-color: white;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    height:100%;
    float: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
.grt-mobile-button-open {
    position: fixed;
    z-index:99999;
    right:25px;
    top:25px;
  }
.grt-mobile-button-open .line1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 5px);
    transform: rotate(-45deg) translate(-8px, 5px);
    color:white;
  }
.grt-mobile-button-open .line2 {opacity: 0;}
  .grt-mobile-button-open .line3 {
    -webkit-transform: rotate(45deg) translate(-8px, -7px);
    transform: rotate(45deg) translate(-8px, -7px);
    color:white;
  }
ul.grt-menu li {
    display: flex;
    flex-direction:column;
    line-height: 3.5em;
    background-color:rgba(0, 0, 0, 0.2);
  }
ul.grt-menu li a {
    padding: 6px 10px;
    font-size:14px;
    margin:18px;
    text-align:center;
  }
ul.grt-menu li.grt-dropdown ul.grt-dropdown-list {
    width:100%;
    position: relative;
    display:none;
  }
ul.grt-menu li.grt-dropdown ul.grt-dropdown-list li a {
    display: block;
    font-size: 17px;
  } 
.ney {margin-top:10%; margin-left:10%; color:#1f4791; text-align:left; font-size:8px;}
